* {
  margin: 0;
  padding: 0;
}

.content {
  margin: 5px;
  background-color: white;
  padding: 10px;
  border: solid 5px #4472c4;
}

#user-data-table {
  margin: 10px;
  width: 80%;
  border-collapse: collapse;
  border: solid 2px gray;
}

#user-data-table th {
  background-color: #4472c4;
  color: #eeeeee;
  padding: 2px;
}

#user-data-table td {
  background-color: #cfd5ea;
}

#user-data-table th,
#user-data-table td {
  border: solid 1px #ffffff;
}
